.container{
    background:white;
    margin-top: 5vh;
    padding: 0 !important;
    height: 80vh;
    position: relative;
    border: 2px solid black;
    -webkit-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
}

.horizontal-scroll {
    display: flex;
    flex-wrap: wrap;
    background: white;
    box-sizing: border-box;
    border: 2px solid black;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: -2px;
    width: 100%;
    &>.horizontal-scroll-right {
        display: flex;
        flex-wrap: wrap;
        margin: -2px;
        margin-left: auto;
        margin-right: -6px;
    }

}

.icon-container {
    border: 2px solid black;
    background: white;
    display: flex;
    align-items: center;
    height: 28px;
    padding: 2px;
    width: 28px;

    & svg {
        background: white;
    }

    &.arrow-left svg {
        transform: rotate(180deg);
    }

    &.arrow-left,
    &.arrow-up,
    &.arrow-down {
        margin: -2px;
    }

    &.arrow-up>svg {
        transform: rotate(-90deg);
    }

    &.arrow-down {
        margin-top: auto;

        &>svg {
            transform: rotate(90deg);
        }
    }
}

.vertical-scroll {
    display: flex;
    flex-flow: column nowrap;
    background: white;
    box-sizing: border-box;
    border: 2px solid black;
    position: absolute;
    bottom: 28px;
    height: calc(100% - 98.3px);
    right: 0;
    width: 28px;
    margin: -2.5px;
}