.text-container {
    padding: 2vh 4vw;
    color: black;

    & b {
        font-weight: 100;
        font-size: 2rem;
        color: gray;
        text-decoration: underline;
    }

    & h1 {
        font-weight: bold;
        margin: 0;
        display: inline;
        font-size: 1.5rem;
    }

    & h3 {
        line-height: 1.5rem;
    }

    .lifespan-calculator {
        &>p {
            line-height: 1.5rem;

            &>#gender-input {
                color: purple;
                font-size: 1.3rem;
                font-weight: bold;
                margin: 0vh 1vw;
                width: 100px;
            }
        }
    }
}

.typed-cursor.typed-cursor--blink {
    opacity: 1;
    animation: blink-caret .75s step-end infinite !important;
}

@keyframes blink-caret {

    from,
    to {
        opacity: 0
    }

    50% {
        opacity: 1
    }
}

.birthday-input {
    border: none;
    color: purple;
    font-weight: 800;
    margin: 0 2vw;
}

.validation-message {
    line-height: 1.15rem;
    display: inline-block;
}

input[type=time] {
    background: transparent;
}