nav.navbar.navbar-expand {
    padding: 0;
    background: #fff;
    padding: 0px 2px;
    border: 2px solid black;
    overflow: hidden;
    &>.navbar-nav {

        &>.nav-link {
            font-weight: bold;
            font-size: 20px;
            color: black;
            padding: 0em 0.7em;
            height: 30px;
            overflow: hidden;
            text-align: center;

            &:hover {
                background-color: black;
                color: white;
            }
        }

        &>span {
            font-weight: bold;
            font-size: 20px;
            color: black;
            padding: 0em 0.7em;
            cursor: default;
        }
    }
}



.nav-row>.col {
    height: 30px;
    line-height: 0.75;
    color: black;
    
    &>span {
        font-weight: bold;
        font-size: 20px;
    }
}

hr {
    display: block;
    position: relative;
    padding: 0;
    margin: -1.5px 0px 0px 0px;
    height: 3px;
    clear: both;
    border: 2px solid black;
}

@media(max-width : 430px) {
    .nav-clock {
        display: none;
    }
}