nav.navbar.navbar-expand {
    padding: 0;
    background:#fff;
    padding:0px 2px;
    border: 2px solid black;
    & > .navbar-nav {
        background: white;
        border-bottom: 1px solid black;
        &>.nav-link {
        font-weight: bold;
        font-size: 20px;
        color: black;
        padding: 0em 0.7em;
        background:white;
        &:hover {
            background-color: black;
            color: white;
        }
    }}
}



.nav-row>.col {
    height: 36px;
    line-height: 1.15;

    &>span {
        font-weight: bold;
        font-size: 20px;
        padding: 2px;
    }
}
