.program {
    width: 80px;
    text-align: center;
    cursor: pointer;
    background: white;
    margin: 0px 2vw;
    line-height: 0.5em;
    &:hover{
        & svg{
            & .fill{
                fill:black;
            }
                fill: white;
        }
        & figcaption{
            background: black;
            color:white;
        }
    }
    & svg {
        vertical-align: bottom;
        & .fill {
            fill: white;
        }
        height: 56px;
        margin-bottom:2px;
        display: block;
        margin: auto;
    }

    & figcaption {
        display: inline;
        color: black;
        font-size: 24px;
    }
}

.program-container{
    width:100%;
    padding: 16px 2vw;
    display: flex;
    flex-wrap: wrap;
    background: white;
    position: relative;
    overflow:auto;
}

.home{
    margin-left: 1px;
}